*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  height: 100%;
}
.container{
  background-color: rosybrown;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



